.app{

display:flex;

width:100vw;

height:100vh;

background:
linear-gradient(
135deg,
#041320,
#08243c,
#0b3d63
);

overflow:hidden;

}

.mainContent{

margin-left:260px;

width:calc(100vw - 260px);

display:flex;

flex-direction:column;

overflow:hidden;

}

.pageContent{

flex:1;

padding:25px;

overflow:auto;

background:
linear-gradient(
135deg,
#071826,
#082943,
#0d4873
);

}

.pageContent::-webkit-scrollbar{

width:8px;

}

.pageContent::-webkit-scrollbar-thumb{

background:#22d3ee;

border-radius:20px;

}

.pageContent::-webkit-scrollbar-track{

background:#071826;

}